# Week 02
# Python Tutorial

In [3]:
# Print a sentence: The area is: ***
# The area represents the area of a square with length 1.5
print("The area is:", 1.5 ** 2, ".")

The area is: 2.25 .

In [4]:
# Calculate the Body Mass Index (BMI) of a person whose height is 1.73 (m) and weight is 70.5 (kg).
height = 1.73 # assign 1.73 to variable named height
weight = 70.5 # assign 70.5 to variable named weight
print(height, weight)

1.73 70.5

In [5]:
BMI = weight / height ** 2
print("BMI:", BMI)

BMI: 23.55574860503191

In [6]:
type(height)

float

In [7]:
a = 10
print(type(a))

<class 'int'>

In [9]:
# Variable types:
# float
# int
# str
# boolean
str1 = "Monday"
print("Type of str1:", type(str1))
boolean1 = True # or False: the word should be capitalized 
print("Type of boolean1:", type(boolean1))

Type of str1: <class 'str'>
Type of boolean1: <class 'bool'>

In [11]:
# Arithmetics:
a = a + 1
a = a - 5
a = a * 123
a = a / 24

In [15]:
# integer division in Python may give a floating-point result
b = 13
ans = b / 5
print(ans)

2.6

In [16]:
# floor division 
ans = b // 5
print(ans)

2

In [17]:
# Modulo operator
remainder = b % 5
print(remainder)

3

In [18]:
# Exponentiation operator
power = 5 ** 3 # 3rd power of 5
print(power)

125

In [24]:
# scientific notation
# assign 1 billion to variable x
# x = 1000000000
x = 1e9 # 1e9 represents 1.0 * (10 ** 9)
print(x)
y = 1.2e-14 # represents 1.2 * (10 ** -14) = 0.00000000000012
print(y)

1000000000.0
1.2e-14

In [28]:
# When will scientific notations occur?

0.0

In [29]:
# Mathematics operations
import math # import package math

In [30]:
# the square root
print(math.sqrt(2))

1.4142135623730951

In [31]:
1.4142 ** 2

1.9999616399999998

In [32]:
# trigonometric functions
print(math.sin(10)) # cos, tan, arcsin, ....

-0.5440211108893698

In [35]:
# log
print(math.log(10)) # by default the log function use natural number e=2.718... as the base
print(math.log(8, 2)) # the second argument is the base

2.302585092994046
3.0

In [36]:
# pi
print(math.pi)

3.141592653589793

Exercise: given variables a, b, and c, implement the quadratic formula for ax^2 + bx + c = 0.

Formula:
<img src="https://www.gstatic.com/education/formulas/images_long_sheet/en/quadratic_formula.svg">

In [37]:
a = 1
b = 5
c = 4
x1 = (-b + math.sqrt((b * b) - 4 * a * c)) / (2 * a)
x2 = (-b - math.sqrt((b * b) - 4 * a * c)) / (2 * a)
print(x1, x2)

-1.0 -4.0

In [41]:
# Comparisons: >, <, >=, <=, ==, !=
# Logical operators: and, or, not

age = 3
drinking_age = 21
if age >= drinking_age:
    print("You are old enough to buy liquor.")
else:
    print("You are not old enough to buy liquor.")  # with indentation: statement belongs to else branch
print("End.") # without indentation, statment is separate from the previous if-else statement.

You are not old enough to buy liquor.
End.

In [44]:
SAT_score = 1400
other_evaluation = 9.9
if SAT_score > 1200 and other_evaluation > 8.0:
    print("The student will have an offer.")
else:
    print("The student will not have an offer.")

The student will have an offer.

## Exercise 2
Given a person's weight (kg) and height (m), calculate the BMI and indicate whether the person is underweight, healthy, or overweight.

BMI = weight / height ** 2.

Healthy BMI: 18.5—24.9

In [46]:
weight = 75
height = 1.8
BMI = weight / height ** 2

if BMI > 24.9:
    print("You are overweight.")
elif BMI < 18.5: # elif means "else if"
    print("You are underweight.")
else:
    print("You are healthy.")
print("BMI: ", BMI)

You are healthy.
BMI:  23.148148148148145

In [51]:
# loops:
# in java: for (i=0; condition; update i)
for i in range(0, 101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [49]:
print(range(0, 10)) # it contains integers from 0 (inclusive) to 10 (exclusive)

range(0, 10)

In [53]:
# use multiple loop index in a for loop
for i, j in zip(range(10), range(10, 20)):
    print("i:", i)
    print("j:", j)

i: 0
j: 10
i: 1
j: 11
i: 2
j: 12
i: 3
j: 13
i: 4
j: 14
i: 5
j: 15
i: 6
j: 16
i: 7
j: 17
i: 8
j: 18
i: 9
j: 19

In [54]:
for i in range(0, 10, 2): # the last argument determines step size
    print(i)

0
2
4
6
8

## Exercise 3
Calculate the sum of the first 100 integers 0, ..., 99.

In [56]:
init = 0
for i in range(100): # range(99) stops at 98, should use range(100)
  init +=i
print(init)

4950