# Week 02
# Python Tutorial

In [ ]:
# Print a sentence: The area is: ***
# The area represents the area of a square with length 1.5
print("The area is:", 1.5 ** 2, ".")

The area is: 2.25 .

In [ ]:
# Calculate the Body Mass Index (BMI) of a person whose height is 1.73 (m) and weight is 70.5 (kg).
height = 1.73 # assign 1.73 to variable named height
weight = 70.5 # assign 70.5 to variable named weight
print(height, weight)

1.73 70.5

In [ ]:
BMI = weight / height ** 2
print("BMI:", BMI)

BMI: 23.55574860503191

In [ ]:
type(height)

float

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
# Variable types:
# float
# int
# str
# boolean
str1 = "Monday"
print("Type of str1:", type(str1))
boolean1 = True # or False: the word should be capitalized 
print("Type of boolean1:", type(boolean1))

Type of str1: <class 'str'>
Type of boolean1: <class 'bool'>

In [ ]:
# Arithmetics:
a = a + 1
a = a - 5
a = a * 123
a = a / 24

In [ ]:
# integer division in Python may give a floating-point result
b = 13
ans = b / 5
print(ans)

2.6

In [ ]:
# floor division 
ans = b // 5
print(ans)

2

In [ ]:
# Modulo operator
remainder = b % 5
print(remainder)

3

In [ ]:
# Exponentiation operator
power = 5 ** 3 # 3rd power of 5
print(power)

125

In [ ]:
# scientific notation
# assign 1 billion to variable x
# x = 1000000000
x = 1e9 # 1e9 represents 1.0 * (10 ** 9)
print(x)
y = 1.2e-14 # represents 1.2 * (10 ** -14) = 0.00000000000012
print(y)

1000000000.0
1.2e-14

In [ ]:
# When will scientific notations occur?

0.0

In [ ]:
# Mathematics operations
import math # import package math

In [ ]:
# the square root
print(math.sqrt(2))

1.4142135623730951

In [ ]:
1.4142 ** 2

1.9999616399999998

In [ ]:
# trigonometric functions
print(math.sin(10)) # cos, tan, arcsin, ....

-0.5440211108893698

In [ ]:
# log
print(math.log(10)) # by default the log function use natural number e=2.718... as the base
print(math.log(8, 2)) # the second argument is the base

2.302585092994046
3.0

In [ ]:
# pi
print(math.pi)

3.141592653589793

Exercise: given variables a, b, and c, implement the quadratic formula for ax^2 + bx + c = 0.

Formula:
<img src="https://www.gstatic.com/education/formulas/images_long_sheet/en/quadratic_formula.svg">

In [ ]:
a = 1
b = 5
c = 4
x1 = (-b + math.sqrt((b * b) - 4 * a * c)) / (2 * a)
x2 = (-b - math.sqrt((b * b) - 4 * a * c)) / (2 * a)
print(x1, x2)

-1.0 -4.0

In [ ]:
# Comparisons: >, <, >=, <=, ==, !=
# Logical operators: and, or, not

age = 3
drinking_age = 21
if age >= drinking_age:
    print("You are old enough to buy liquor.")
else:
    print("You are not old enough to buy liquor.")  # with indentation: statement belongs to else branch
print("End.") # without indentation, statment is separate from the previous if-else statement.

You are not old enough to buy liquor.
End.

In [ ]:
SAT_score = 1400
other_evaluation = 9.9
if SAT_score > 1200 and other_evaluation > 8.0:
    print("The student will have an offer.")
else:
    print("The student will not have an offer.")

The student will have an offer.

## Exercise 2
Given a person's weight (kg) and height (m), calculate the BMI and indicate whether the person is underweight, healthy, or overweight.

BMI = weight / height ** 2.

Healthy BMI: 18.5—24.9

In [ ]:
weight = 75
height = 1.8
BMI = weight / height ** 2

if BMI > 24.9:
    print("You are overweight.")
elif BMI < 18.5: # elif means "else if"
    print("You are underweight.")
else:
    print("You are healthy.")
print("BMI: ", BMI)

You are healthy.
BMI:  23.148148148148145

In [ ]:
# loops:
# in java: for (i=0; condition; update i)
for i in range(0, 101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
print(range(0, 10)) # it contains integers from 0 (inclusive) to 10 (exclusive)

range(0, 10)

In [ ]:
# use multiple loop index in a for loop
for i, j in zip(range(10), range(10, 20)):
    print("i:", i)
    print("j:", j)

i: 0
j: 10
i: 1
j: 11
i: 2
j: 12
i: 3
j: 13
i: 4
j: 14
i: 5
j: 15
i: 6
j: 16
i: 7
j: 17
i: 8
j: 18
i: 9
j: 19

In [ ]:
for i in range(0, 10, 2): # the last argument determines step size
    print(i)

0
2
4
6
8

## Exercise 3
Calculate the sum of the first 100 integers 0, ..., 99.

In [ ]:
init = 0
for i in range(100): # range(99) stops at 98, should use range(100)
  init +=i
print(init)

4950

## Data Structures for Multiple Values

## Lists (Similar to Java arrays)

In [ ]:
values = [1, 3, 5, 7, 9]

In [ ]:
# Print the list
print(values)
# Extract a value from the list
print(values[0])  # gives 1
print(values[1])  # gives 3

[1, 3, 5, 7, 9]
1
3

In [ ]:
# Lists supports negative index
print(values[-1])  # gives the last value in the list
print(values[-2])  # gives the second-to-last value

9
7

In [ ]:
values[10]

IndexError: ignored

In [ ]:
# List slicing
print(values[0:3])  # Extracts the first 3 values
print(values[:3])   # has the same effect

[1, 3, 5]
[1, 3, 5]

In [ ]:
print(values[1:4])  # Extracts the middle 3 values
print(values[1:-1])

[3, 5, 7]
[3, 5, 7]

In [ ]:
print(values[1:5])  # Extracts all values starting from the second value
print(values[1:])

[3, 5, 7, 9]
[3, 5, 7, 9]

In [ ]:
# A list can contain values of different types
list1 = [123, 0.357, "Wednesday", True, False, [1, 2, 3]]

In [ ]:
print(list1[2])

Wednesday

In [ ]:
print(list1[-1][1])

2

In [ ]:
# Useful methods
# length of a list
print(len(list1))
# append a value to a list
list1.append(4)
print(list1)
# extract and remove the last value of a list
val = list1.pop()
print(val)
print(list1)
# find the index of a value
ind = list1.index("Wednesday")
print(ind)

7
[123, 0.357, 'Wednesday', True, False, [1, 2, 3], 4, 4]
4
[123, 0.357, 'Wednesday', True, False, [1, 2, 3], 4]
2

In [ ]:
# Looping through a list
names = ["Alice", "Bob", "Clare"]
for name in names:
    print(name)

Alice
Bob
Clare

In [ ]:
# Looping with index
for idx, name in enumerate(names):
    print(str(idx) + "  " + name)

0  Alice
1  Bob
2  Clare

In [ ]:
# list comprehension: transform a list without a for loop
scores = [60, 70, 90, 85]
# add 5 to each of the score
new_scores = []
for score in scores:
    new_score = score + 5
    new_scores.append(new_score)
print(new_scores)

[65, 75, 95, 90]

In [ ]:
# Alternatively, use list comprehension can do this in one statement
new_scores = [ val+5 for val in scores ] # [ expression + where the values come from ]
print(new_scores)

[65, 75, 95, 90]

# Exercise
Give a list `ary = [1, 3, 5, 7, 11]`, create a new list `ary2` whose values are twice the values in ary.

In [ ]:
ary = [1, 3, 5, 7, 11]
ary2 = []
for val in ary:
  ary2.append(val+val) # same as val * 2
print(ary2)

[2, 6, 10, 14, 22]

In [ ]:
ary2 = [ val * 2 for val in ary  ]
print(ary2)

[2, 6, 10, 14, 22]

## Sets

In [ ]:
set1 = {1, 2, 3, 4}
print(set1)

{1, 2, 3, 4}

In [ ]:
# A set cannot contain repeated values
set2 = {1, 2, 2, 3, 3, 3}
print(set2)

{1, 2, 3}

In [ ]:
# convert between lists and sets
list2 = [1, 2, 3, 4]
set2 = set(list2)
print(set2)

{1, 2, 3, 4}

In [ ]:
list3 = [1, 2, 2, 3, 3, 4, 4, 5]
set3 = set(list3)
print(set3)

{1, 2, 3, 4, 5}

In [ ]:
# find the list of unique values
list4 = [1, 2,3,54,2,4,6,87,9,6,4,3,5,7,8,9,3,45,6,7,1,3]
set4 = set(list4)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 54, 87}

In [ ]:
# the number of different values in list4
print(len(set4))

12

In [ ]:
# create a list of unique values from list4
list_unique = list(set4)
print(list_unique)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 54, 87]

In [ ]:
list_unique = list(set(list4))
print(list_unique)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 54, 87]

# Tuples

In [ ]:
# The order of values in a tuple is fixed.
tuple1 = (1, 2, 3)
tuple2 = (3, 2, 1)
print(tuple1 == tuple2)

False

## Dictionary (similar to Java Map)

In [ ]:
scores = {
    "Alice": 85,
    "Bob": 87,
    "Clare": 88
}

In [ ]:
# Extract values from dictionary
print(scores["Alice"])

85

In [ ]:
# Check if an item is in the dictionary
print("David" in scores)

False